<div id="footer">
  <div class="faq">
    <h3>FAQ</h3>
    <ul>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Portfolio</a></li>
    </ul>
  </div>
  <div class="contact">
    <h3>Get In Touch</h3>
    <div class="icons">
      <i class="bx bxl-instagram"></i>
      <i class="bx bxl-facebook-square"></i>
      <i class="bx bxl-youtube"></i>
      <i class="bx bxl-twitter"></i>
      <i class="bx bxl-linkedin-square"></i>
    </div>
  </div>
</div>
