<div class="shopGrid">
    <br>
    <h5 class="text-center text-white">PRINT SHOP</h5>
    <div class="shopGrid row row-gap-3 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-lg-4">
        <div *ngFor="let print of printItems; let i = index">
            <div>
                <div class="card">
                    <img src="./assets/posters/{{print.image}}" alt="">
                    <div class="overlay">
                        <div class="ovText">
                            <p>€ {{print.price}}<br>
                                <span>
                                <button type="button" class="btn btn-secondary btn-sm">TAKE ME HOME</button>
                                </span>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>