h3 {
    padding-top: 0.5rem;
}

.shopGrid {
    background-color: #4969807e;
}

.card {
    margin: 2rem;
    position: relative;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(29, 55, 118, 0.2);
    transition: all .5s ease-in-out;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover {
    transform: scale(1.1);
}

.ovText {
    color: white;
    text-align: center;
}

