<h1 class="text-center">SOPHIA LECHERC | PHOTOGRAPHY</h1>
<div class="wrapper">
    <section class="bio">
        <div class="parallax" id="sophia" style="background-image: url('./assets/about_pics/sophia.jpg');">
            <!-- <img class="parallax" src="./assets/about_pics/sophia.jpg" alt="Sophia"> -->
        </div>
        <div class="description">
            <h3>BIO</h3>
            <h4>Born and raised in the culturally rich city of Paris, Sophia's passion for photography blossomed from a
                young age as she wandered the cobblestone streets, capturing the essence of life through her lens.
            </h4>
        </div>
    </section>
    <section>
        <div class="description text-end">
            <h3>PROFILE</h3>
            <h4>With a multicultural background stemming from her French and Algerian heritage, Sophia's photography reflects a unique blend of diverse influences, infusing her work with a rich tapestry of colors, textures, and stories.
            </h4>
        </div>
        <div class="parallax" id="descrip" style="background-image: url('./assets/about_pics/admiration.jpg');">
            <!-- <img class="parallax" src="./assets/about_pics/admiration.jpg" alt="Collage"> -->
        </div>
    </section>
    <section class="recognition">
        <div class="parallax" id="recon" style="background-image: url('./assets/about_pics/exhibit.jpg');">
            <!-- <img class="parallax" src="./assets/about_pics/exhibit.jpg" alt="international presence"> -->
        </div>
        <div class="description">
            <h3>INTERNATIONAL RECOGNITION</h3>
            <h4>Her talent has garnered international acclaim, with her work exhibited in galleries and publications around the world. Her photographs have received numerous awards and accolades, cementing her reputation as one of the most influential photographers of her generation.</h4>
        </div>
    </section>
</div>
<div class="awards">
    <app-awards />
</div>
<div>
    <app-newsletter-form></app-newsletter-form>
</div>