<h1>SOPHIA LECHERC | PHOTOGRAPHY</h1>
<div class="wrapper">
    <section class="bio">
        <div><img src="" alt="Sophia"></div>
        <div>
            <h3>BIO</h3>
            <p>Sophia is an internationally acclaimed photographer renowned for her captivating and emotive imagery.
                Born and raised in the culturally rich city of Paris, Sophia's passion for photography blossomed from a
                young age as she wandered the cobblestone streets, capturing the essence of life through her lens.
            </p>
        </div>
    </section>
    <section class="background">
        <div><img src="" alt="Collage"></div>
        <div>
            <h3>PROFILE</h3>
            <p>With a multicultural background stemming from her French and Algerian heritage, Sophia's photography
                reflects a unique blend of diverse influences, infusing her work with a rich tapestry of colors,
                textures, and stories.</p>
        </div>
    </section>
    <section class="recognition">
        <div><img src="" alt=""></div>
        <div>
            <h3>INTERNATIONAL RECOGNITION</h3>
            <p>Her talent has garnered international acclaim, with her work exhibited in galleries and publications around the world. Her photographs have received numerous awards and accolades, cementing her reputation as one of the most influential photographers of her generation.</p>
        </div>
    </section>
</div>