

    <div class="carousel-inner">
      <div class="carousel-item active">
        <video playsInline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="./assets/video1.mp4" type="video/mp4">
        </video>
    
        <div class="carousel-caption">
          <h5 class="animate__animated animate__fadeInDown animate__delay-0.5s">SOPHIA LECLERC | PHOTOGRAPHY</h5>  
          <p class="animate__animated animate__fadeInUp animate__delay-1s">SOPHIA LECLERC, is a European multinational conglomerate headquartered in Austria, Vienna, operating in the realms of photography.</p>
          <p class="animate__animated animate__fadeInUp animate__delay-2s"><a href="">Appointment</a></p>
        </div>
      </div>
  </div>
