<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <h1>Contact Form</h1>

    <div>
      <input id="name" placeholder="Name" formControlName="name" type="text" />
      <span
        class="error"
        *ngIf="contactForm.get('name')?.errors?.['required'] && contactForm.get('name')?.touched"
        [style.color]="'red'"
        >Name is required</span
      >
    </div>

    <div>
      <input
        id="email"
        placeholder="Email"
        formControlName="email"
        type="email"
      />
      <span
        class="errorEmail"
        *ngIf="contactForm.get('email')?.errors?.['required'] && contactForm.get('email')?.touched"
        [style.color]="'red'"
        >Email is required</span
      >
    </div>

    <h4>Type Your Message Here...</h4>
    <div>
      <textarea formControlName="message"></textarea>
      <span
        class="error"
        *ngIf="contactForm.get('message')?.errors?.['required'] && contactForm.get('message')?.touched"
        [style.color]="'red'"
        >Message is required</span
      >
    </div>

    <button id="button" [disabled]="contactForm.invalid" type="submit">
      Send
    </button>
  </form>
</div>
