<section class="gallery">
    <div class="container">
        <h1 class="text1 text-center p-4">Landscape!</h1>
        <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-3 gy-4 animate__animated animate__fadeInDown">
            
              <div class="col">
                <img  src="./assets/gallery img/landscape/img1.jpg" alt="">
              </div>
              <div class="col">
                <img  src="./assets/gallery img/landscape/img3.jpg" alt="">
              </div>
              <div class="col">
                <img  src="./assets/gallery img/landscape/img4.jpg" alt="">
              </div>
              <div class="col">
                <img  src="./assets/gallery img/landscape/img5.jpg" alt="">
              </div>
              <div class="col">
                <img  src="./assets/gallery img/landscape/img6.jpg" alt="">
              </div>
              <div class="col">
                <img  src="./assets/gallery img/landscape/img7.jpg" alt="">
              </div>
              <div class="col">
                <img  src="./assets/gallery img/landscape/img8.jpg" alt="">
              </div>
              <div class="col">
                <img  src="./assets/gallery img/landscape/img9.jpg" alt="">
              </div>
              <div class="col">
                <img  src="./assets/gallery img/landscape/img10.jpg" alt="">
              </div>
              
        </div>
    </div>
</section>

