<div class="invitation-grid" style="background-image: url(./assets/about_pics/leclerc.jpg)">
    <div class="invitation-cont">
        <div class="info">
            <p>get Sophia's letters worldwide</p>
            <hr>
            <h1>YOU'RE INVITED!</h1>
            <p>If you are curious about Audrey's insights you can follow her Weekly "Invitation Personnelle
                Newsletter" and discover what's next in ther career. </p>
            <hr>
            <div class="form">
                <form>
                    <input id="firstName" type="text" name="firstName" placeholder="First name"/>
                    <input id="emailAddress" type="email" name="emailAddress" placeholder="Email address">
                    <button type="submit" >Join</button>
                </form>
            </div>
        </div>
    </div>
  </div>