<section class="gallery min-vh-100">
    <div class="container-fluid">
      <h1 class="text-center">Great photos for your pets!</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">
          <div class="column">
              <img src="./assets/gallery img/img1.jpg" alt="">
              <img src="./assets/gallery img/img2.jpg" alt="">
              <img src="./assets/gallery img/img3.jpg" alt="">
              <img src="./assets/gallery img/img4.jpg" alt="">
              <img src="./assets/gallery img/img5.jpg" alt="">
              <img src="./assets/gallery img/img6.jpg" alt="">
              <img src="./assets/gallery img/img7.jpg" alt="">
              <img src="./assets/gallery img/img8.jpg" alt="">
              <img src="./assets/gallery img/img9.jpg" alt=""> 
          </div>
      </div>
    </div>
  </section>
  