<section class="gallery">
    <div class="container">
      <h1 class="text1 text-center p-4">GALLERY!</h1>
      <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-3 gy-4 animate__animated animate__fadeInDown">
          
            <div class="col">
              <img  src="./assets/gallery img/architecture/img10.jpg" routerLink="/architecture"  alt="">
              <div class="text">architecture  album</div>
            </div>
            <div class="col">
              <img src="./assets/gallery img/landscape/img2.jpg" routerLink="/landscape" alt="">
              <div class="text">landscape  album</div>
            </div>
            <div class="col">
              <img src="./assets/gallery img/pets/img1.jpg" routerLink="/pet" alt="">
              <div class="text">pet album</div>
            </div>  
      </div>
    </div>
  </section>
  