<section id="testimonial-area">
    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2">
                <div class="section-heading text-center">
                    <h5>SOPHIA LECLERC | PHOTOGRAPHY </h5>
                    <h2>A Word From My Customers</h2>
                    <p>Here i have some words from my customers about my work for them..</p>
                </div>
            </div>

        </div>
        <div class="testi-wrap">

            <div class="client-single active position-1" data-position="position-1">
                <div class="client-img">
                    <img src="./assets/testimonial_img/boy2.avif" alt="">
                </div>
                <div class="client-comment">
                    <h3>This gallery is a great collection of artwork! The
                        pieces are vibrant and full of life.</h3>
                    <span><i class="fa fa-quote-left"></i></span>
                </div>
                <div class="client-info">
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <div>
                        <small class="text-body-secondary">John Doe, February 2024</small>
                    </div>

                </div>
            </div>

            <div class="client-single inactive position-2" data-position="position-2">
                <div class="client-img">
                    <img src="./assets/testimonial_img/boy4.avif" alt="">
                </div>
                <div class="client-comment">
                    <h3>Sofias ability to capture fleeting moments results in a
                        body of work that is thought-provoking.</h3>
                    <span><i class="fa fa-quote-left"></i></span>
                </div>
                <div class="client-info">
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:gray;">&starf;</span>
                    <div>
                        <small class="text-body-secondary">Thomas Done, June 2023</small>
                    </div>
                </div>
            </div>

            <div class="client-single inactive position-3" data-position="position-3">
                <div class="client-img">
                    <img src="./assets/testimonial_img/girl.avif" alt="">
                </div>
                <div class="client-comment">
                    <h3>Sofias use of lighting and composition creates stunning
                        images.</h3>
                    <span><i class="fa fa-quote-left"></i></span>
                </div>
                <div class="client-info">
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:gray;">&starf;</span>
                    <span style="font-size:300%;color:gray;">&starf;</span>
                    <div>
                        <small class="text-body-secondary">Shannon Doe, April 2022</small>
                    </div>
                </div>
            </div>

            <div class="client-single inactive position-4" data-position="position-4">
                <div class="client-img">
                    <img src="./assets/testimonial_img/boy.avif" alt="">
                </div>
                <div class="client-comment">
                    <h3>The Photos we got are absolutely
                        incredible. We have spoken to many photographers, but Sofia is an master
                        in what she does.</h3>
                    <span><i class="fa fa-quote-left"></i></span>
                </div>
                <div class="client-info">
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <div>
                        <small class="text-body-secondary">Claude van Damme, July 2023</small>
                    </div>
                </div>
            </div>

            <div class="client-single inactive position-5" data-position="position-5">
                <div class="client-img">
                    <img src="./assets/testimonial_img/girl2.avif" alt="">
                </div>
                <div class="client-comment">
                    <h3>Sofias photography focuses on capturing the beauty in
                        everyday life.</h3>
                    <span><i class="fa fa-quote-left"></i></span>
                </div>
                <div class="client-info">
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <div>
                        <small class="text-body-secondary">Barbara Script, May 2020</small>
                    </div>
                </div>
            </div>

            <div class="client-single inactive position-6" data-position="position-6">
                <div class="client-img">
                    <img src="./assets/testimonial_img/boy3.avif" alt="">
                </div>
                <div class="client-comment">
                    <h3>The work is absolutely fantastic ! Nothing more to explain.</h3>
                    <span><i class="fa fa-quote-left"></i></span>
                </div>
                <div class="client-info">
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <div>
                        <small class="text-body-secondary">Jens Button, Dezember 2023</small>
                    </div>
                </div>
            </div>

            <div class="client-single inactive position-7" data-position="position-7">
                <div class="client-img">
                    <img src="./assets/testimonial_img/girl3.avif" width="40px" alt="">
                </div>
                <div class="client-comment">
                    <h3>Sofias use of creative framing result in photographs
                        that leave a lasting impression.</h3>
                    <span><i class="fa fa-quote-left"></i></span>
                </div>
                <div class="client-info">
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <div>
                        <small class="text-body-secondary">Samantha Ross, February 2022</small>
                    </div>
                </div>
            </div>

            <div class="client-single inactive position-8" data-position="position-8">
                <div class="client-img">
                    <img src="./assets/testimonial_img/karl.png" width="40px" alt="">
                </div>
                <div class="client-comment">
                    <h3>The Photos we got are absolutely
                        incredible. We have spoken to many photographers, but Sofia is an master
                        in what she does. </h3>
                    <span><i class="fa fa-quote-left"></i></span>
                </div>
                <div class="client-info">
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <span style="font-size:300%;color:yellow;">&starf;</span>
                    <div>
                        <small class="text-body-secondary">Karl Indra, April 2024</small>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>