

.center{
  height: 3rem;
}

.myBody{
  background-color: black;
  height: 90vh;
  position: relative;
  border: 3px solid green;
}


.myContainer{
  margin: 0;
  position: absolute;
  max-height: 40%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -40%);
  /* border: 2px solid yellow; */
  background-color: black;
}

/* img{
  max-height: 30%;
} */

