<div class="center">

</div>
<div class="myBody">


    <div class="myContainer">
        <div class="text-white">
            <h5>Customer Notes</h5>
            <h3> Here are some of my Customers votes</h3>
        </div>
        <div class="carousel" >
            <carousel [showIndicators]=true [interval]="4000" [isAnimated]="true">
                <slide>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col pt-1">
                            <div class="card">
                                <img src="./assets/testimonial_img/boy2.avif"
                                    class="card-img-top mx-auto"
                                    style="height: 35%; width: 70%;"
                                     alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><span
                                            style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                    </h5>
                                    <p class="card-text">This gallery is a great collection of artwork! The
                                        pieces are vibrant and full of life.</p>
                                </div>
                                <p class="card-text"><small class="text-body-secondary">Karl Indra, April 2024</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><span
                                            style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:gray;">&starf;</span>
                                    </h5>
                                    <p class="card-text">Sofias ability to capture fleeting moments results in a
                                        body of work that is thought-provoking.</p>
                                </div>
                                <img src="./assets/testimonial_img/boy4.avif"
                                    class="mt-3 img-fluid rounded-circle mx-auto"
                                    style="height: 35%; width: 70%;" alt="...">
                                    <p class="card-text"><small class="text-body-secondary">Karl Indra, April 2024</small>
                            </div>
                        </div>
                        <div class="col pt-3">
                            <div class="card">
                                <img src="./assets/testimonial_img/girl.avif"
                                    class="card-img-top mx-auto"
                                    style="height: 35%; width: 70%;" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><span
                                            style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                    </h5>
                                    <p class="card-text">Sofias use of lighting and composition creates stunning
                                        images.</p>
                                </div>
                                <p class="card-text"><small class="text-body-secondary">Karl Indra, April 2024</small>
                            </div>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="card m-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="./assets/testimonial_img/boy.avif" class="img-fluid rounded-circle mx-auto"
                                    alt="...">
                            </div>
                            <div class="col-md-8 ">
                                <div class="card-body myMiddle">
                                    <h5 class="card-title"><span
                                        style="font-size:300%;color:yellow;">&starf;</span>
                                    <span style="font-size:300%;color:yellow;">&starf;</span>
                                    <span style="font-size:300%;color:yellow;">&starf;</span>
                                    <span style="font-size:300%;color:yellow;">&starf;</span>
                                    <span style="font-size:300%;color:yellow;">&starf;</span>
                                </h5>
                                    <p class="card-text text-center ">The Photos we got are absolutely
                                        incredible. We have spoken to many photographers, but Sofia is an master
                                        in what she does. </p>
                                    <p class="card-text"><small class="text-body-secondary">Karl Indra, April 2024</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        
                        <div class="col pt-4">
                            <div class="card">
                                <img src="./assets/testimonial_img/girl2.avif"
                                    class="mt-3 img-fluid rounded-circle mx-auto"
                                    style="height: 35%; width: 70%;" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><span
                                            style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                    </h5>
                                    <p class="card-text">Sofias photography focuses on capturing the beauty in
                                        everyday life.</p>
                                </div>
                                <p class="card-text"><small class="text-body-secondary">Karl Indra, April 2024</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mt-2">
                                <div class="card-body">
                                    <h5 class="card-title"><span
                                            style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                    </h5>
                                    <p class="card-text">This is a short card.</p>
                                </div>
                                <img src="./assets/testimonial_img/boy3.avif"
                                    class="mt-3 img-fluid rounded-circle mx-auto"
                                    style="height: 35%; width: 70%;" alt="...">
                                <p class="card-text"><small class="text-body-secondary">Karl Indra, April 2024</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><span
                                            style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                        <span style="font-size:300%;color:yellow;">&starf;</span>
                                    </h5>
                                    <p class="card-text">Sofias use of creative framing result in photographs
                                        that leave a lasting impression.</p>
                                </div>
                                <img src="./assets/testimonial_img/girl3.avif"
                                    class="mt-3 img-fluid rounded-circle mx-auto"
                                    style="height: 35%; width: 70%;" alt="...">
                            </div>
                        </div>

                    </div>
                </slide>
                <slide>
                    <div class="card m-3">
                        <div class="row g-0">
                            
                            <div class="col-md-8 ">
                                <div class="card-body myMiddle">
                                    <h5 class="card-title">Karl</h5>
                                    <p class="card-text text-center ">The Photos we got are absolutely
                                        incredible. We have spoken to many photographers, but Sofia is an master
                                        in what she does. </p>
                                    <p class="card-text"><small class="text-body-secondary">April 2024</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="./assets/testimonial_img/karl.png" class="mt-3 img-fluid rounded-circle mx-auto"
                                    alt="...">
                            </div>
                        </div>
                    </div>
                </slide>
                
            </carousel>
    </div>
</div>