<app-hero/>
<br>
<div class="introText text-center">
    <div>
      <h1>SOPHIA LECLERC | PHOTOGRAPHY</h1>
      <H4>AN INVITATION TO TRASCEND REALITY</H4>
      <br>
      <h5>"Sophia Leclerc's work is nothing short of mesmerizing. Her ability to capture the essence of a moment is
        unparalleled."</h5>
      <p class="text-danger">- Visionary Lens Magazine</p>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="carousel">
          <carousel [showIndicators]=false 
          [interval]="1050">
            <slide>
              <img src="./assets/img/6.png" alt="">
            </slide>
            <slide>
              <img src="./assets/img/7.png" alt="">
            </slide>
            <slide>
              <img src="./assets/img/4.png" alt="">
            </slide>
            <slide>
              <img src="./assets/img/4.png" alt="">
            </slide>
            <slide>
              <img src="./assets/img/5.png" alt="">
            </slide>
            <slide>
              <img src="./assets/img/9.png" alt="">
            </slide>
          </carousel>
        </div>
      </div>
      <div class="col-lg-4 col-12 carousel-text">
        <div>
          <h5>Signature work:</h5>
          <h3> Travel through her lens into amazing worlds of landscapes, fashion, architecture and nature. </h3>
          <p><button>BROWSE THE PORTFOLIO</button></p>
        </div>
      </div>
  
    </div>
  
  </div>
  <br><br>

  <app-shop-grid></app-shop-grid>
  <app-newsletter-form></app-newsletter-form>