

<section class="gallery">
<div class="container">
    <h1 class="text1 text-center p-4">Architecture!</h1>
    <div class="row  row-cols-1 row-cols-sm-2 row-cols-md-3 gy-4 animate__animated animate__fadeInDown">
        
          <div class="col">
            <img  src="./assets/gallery img/architecture/img1.jpg" alt="">
          </div>
          <div class="col">
            <img  src="./assets/gallery img/architecture/img2.jpg" alt="">
          </div> 
          <div class="col">
            <img  src="./assets/gallery img/architecture/img3.jpg" alt="">
          </div> 
          <div class="col">
            <img  src="./assets/gallery img/architecture/img4.jpg" alt="">
          </div>
          <div class="col">
            <img  src="./assets/gallery img/architecture/img5.jpg" alt="">
          </div> 
          <div class="col">
            <img  src="./assets/gallery img/architecture/img6.jpg" alt="">
          </div>
          <div class="col">
            <img  src="./assets/gallery img/architecture/img7.jpg" alt="">
          </div> 
          <div class="col">
            <img  src="./assets/gallery img/architecture/img8.jpg" alt="">
          </div> 
          <div class="col">
            <img  src="./assets/gallery img/architecture/img9.jpg" alt="">
          </div> 
    </div>
  </div>
</section>